# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

### Safe For Using Code For Front Project ###
### add at 24/08/23 - 12:37 by robbie ###
#.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IntelliJ IDEA files
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
