.login {
    padding: 0 !important;
    display: grid;
    justify-content: center;


    .MuiOutlinedInput-root {
        background-color: white;
      }

    .css-bmd30r-MuiGrid2-root {
        --Grid-rowSpacing: 0;
    }

    &__backarrow {
        width: 40px;
    }  

    &__img {
        margin-bottom: 50px;
        justify-content: center;
        display: flex;
        width: 100%;
        &:hover{
            cursor: pointer;
        }
        &__logo {
            width: 400px;
        }
    }

    &__paper {
        &.MuiPaper-root {
            border-radius: 10px;
            padding: 30px;
            width: 452px;
        };
    }

    &__title {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    &__id {
        margin-bottom: 20px;     
    }

    &__join {
        margin-bottom: 45px;     
    }

    &__link {
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;
    }
    
}
