.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
      margin-bottom: 16px;
    }
  
    &__search-container {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 720px;
      margin-bottom: 50px;
  
      .MuiOutlinedInput-root {
        height: 100%;
        border-radius: 8px;
        background-color: white;
      }
    }
  
    &__grid {
      margin-top: 16px;
      justify-content: center;

      &__imagebox {
        display: grid;
        justify-content: center;
      }
      &__imageboxs {
        max-width: 10rem;
        max-height: 10rem;
        width: 100%;
        height: 100%;
      }
    }
  
    &__grid-item {
      display: flex;
      justify-content: center;
      font-family: 'Pretendard, sans-serif';
      width: 348px;
      cursor: pointer;
    }
  }

  