.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
  
    &__buttons {
      margin-left: auto;
      display: flex;
      gap: 0.825rem;

      &__menu {
        .css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
          border: 2px dashed #F5904B;
        }
        .css-1toxriw-MuiList-root-MuiMenu-list{
          padding: 0;
        }
        .css-1nusg9n-MuiButtonBase-root-MuiMenuItem-root {
          display: flex;
          justify-content: center;
          font-size: 16px;
          color: #572973;
        }

        .css-hqc31-MuiButtonBase-root-MuiMenuItem-root {
          font-size: 16px;
          color: #572973;
        }
      }

      &__button_join {
        width: 8.75rem !important;
      }
    }
    
    .headerText {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
    
    .headers {
      cursor: pointer;
    }
  }

  @media (max-width:  500px) {
    .header 
    {
      display: flex;
      justify-content: space-between;
      .headerText {
        all: initial;
        cursor: pointer;
        }
        .headers {
          cursor: pointer;
        }
    }
  }
  