.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
  
    &__buttons {
      margin-left: auto;
    }

    .header__buttons__button_logout {
      margin-right: 10px;
    }

    .headerText {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
    
    .headers {
      cursor: pointer;
    }
  }

  @media (max-width:  500px) {
    .header 
    {
      display: flex;
      justify-content: space-between;
      .headerText {
        all: initial;
        cursor: pointer;
        }
        .headers {
          cursor: pointer;
        }
    }
  }
  