.inquiz_dialog {
    padding: 0;
  
    .inquiz_dialog_title {
      padding: 25px 25px 0 25px;
    }
  
    .inquiz_dialog_content {
      padding: 10px 25px 0 25px !important; 
    }
    
    .inquiz_dialog_menuitem {
      padding: 25px 0 25px 0;

    }
  
    .inquiz_dialog_button {
      padding: 25px 25px 25px 25px;

      &_box {
        &_delete {
          width: 30%;
        }
        &_submit {
          width: 70%;
          text-align: right;
          &_1 {
            margin-right: 1rem;
          } 
        }
      }
    }

    @media (max-width: 600px) {
      .inquiz_dialog_button {
        &_box {
          &_delete {
            &_1{
              width: 4.25rem;
              font-size: 0.825rem;
            }
          }
          &_submit {
            &_1 {
              width: 4.25rem;
              font-size: 0.825rem;
            }
            &_2 {
              width: 4.25rem;
              font-size: 0.825rem;
            }
          }
        }
      }
  }
  }

.MuiDialog-root::-webkit-scrollbar,
.MuiDialog-paper::-webkit-scrollbar,
.MuiDialogContent-root::-webkit-scrollbar {
  width: 10px;
}

.MuiDialog-root::-webkit-scrollbar-thumb,
.MuiDialog-paper::-webkit-scrollbar-thumb,
.MuiDialogContent-root::-webkit-scrollbar-thumb {
  background-color: #F5904B;
  border-radius: 12px;
}

.MuiDialog-root::-webkit-scrollbar-thumb:hover,
.MuiDialog-paper::-webkit-scrollbar-thumb:hover,
.MuiDialogContent-root::-webkit-scrollbar-thumb:hover {
  background-color: #572973;
}

  