.createquiz__dialog {
  margin: 0;

  .createquiz__dialogQuiz {
    display: grid;
    gap: 10px;

    .createquiz__dialogImage {
      width: 434px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      height: 235px;
      border: 1px solid #ccc;
      box-shadow: none;
    }

    .createquiz__imagePreview {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
    }

    .createquiz__imagePreviewContainer {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .createquiz__formButtonContainer {
      float: right;
      margin: 30px 0;
    }

    .createquiz__clearIcon {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      color: red;
      font-size: 30px;
    }

    .createquiz__icon {
      height: 50px;
      width: 50px;
    }
  }

  @media (max-width: 434px) {
    .createquiz__dialogQuiz .createquiz__dialogImage {
      width: auto !important;
      height: auto !important;
      min-height: 174px;
    }
  }
}
